.dialogs{
    display: grid;
    grid-template-columns: 2fr 4fr;
    text-align: start;
    padding: 40px;
}

.users{
border-right: 2px solid rgba(128, 128, 128, 0.1);

}

.users div{
    padding: 10px 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 10px 0px 0px;
}

.user.active{
    background-color: rgba(128, 128, 128, 0.1);
    color: #1877F2;
}

.dialogs.messages{
    border-left: 3px solid rgb(20, 16, 16);
}

.message{
    padding: 10px;
}
